body {
  background-color: #121212;
  color: #ffffff;
  font-family: monospace;
  padding: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: #333;
  color: #61dafb;
  border: none;
  cursor: pointer;
}
#editor-container {
  border: 1px solid #ccc;
  height: 300px;
  margin-bottom: 10px;
}

.CodeMirror {
  height: 100%;
}

pre#output {
  margin-top: 20px;
  background: #222;
  padding: 10px;
  white-space: pre-wrap;
  border-left: 4px solid #61dafb;
}
.keyword {
  color: #ff79c6;
}
.string {
  color: #f1fa8c;
}
.number {
  color: #bd93f9;
}
.variable {
  color: #8be9fd;
}
.comment {
  color: #6272a4;
}
